div#header {
    margin-top: 40px;
    margin-left: 40px;
}

div#header a {
    font-family: helvetica;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

@media (max-width: 1200px) {
    div#main {
        margin: auto; /* Adjust this value as needed for mobile layout */
    }

    div#main #description {
        font-size: 2em;
        text-align: center;
    }

    div#main #description p{
         display: flex;
         justify-content: center;
    }

    div#footer #contact {
        font-size: 1.5em;
    }
    



    div#footer #contact {
        margin: auto;
    }
    img#background {
        display: flex;
        margin: auto;
        margin-top: 4em;
        margin-bottom: 4em;
        width: 300px;
    }


    div#footer img {
        height: 0.8em;
    }
}



@media (min-width: 1201px) {
    div#main {
        margin-left: 900px; /* Adjust this value as needed for mobile layout */
        padding-right: 100px;
    }

    div#main #description {
        font-size: 1em;
    }

    div#footer #contact {
        margin-left: 800px;
    }

    div#footer #contact {
        font-size: 1em;
    }


    div#footer img {
        height: 0.75em;
    }


    img#background {
        position: absolute;
        left: 200px;
        top: 200px;
        width: 500px;
    }
}

div#main {
    margin-top: 60px;
    width: 300px;
}


div#main #logo {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 50px;
    font-weight: bold;
}

div#main #description {
    margin-top: 100px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: bold;
}

div#main #description p {
  margin: 10px 0;
}

div#footer {
    margin-top: 100px;
    margin-left: 50px;
}

div#footer #contact {
    width: 300px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: bold;
}

div#footer #contact a {
    color: #000;
    text-decoration: none;
}

div#footer img {
    align: left;
}